* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    position: relative;
}

/* Header and navigation section */

header {
    height: 64px;
    width: 100%;
    margin: 0 auto;
}

header img{
    position: absolute;
    margin-left: 24px;
    height: 54px;
    width: 100px;
    margin-top: 5px;
}

header h1 {
    position: absolute;
    height: 64px; 
    width: 400px;
    margin-top: 10px;
    margin-bottom: 16px;
    left: 100px;
    top: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

header h1 #light {
    font-weight: 100;
}

nav {
    height: 64px;
    margin-right: 24px;
    position: absolute;
    right: 0px;
    font-size: 18px;
    margin-top: 20px;
}

header nav li {
    padding-left: 16px;
    display: inline-block;
}

nav a { 
    text-decoration: none;
    color: black;
}

/* Banner section */

.banner {
    background-color: lightgray;
    width: 100%;
    display: flex;
}
.banner img {
    margin: 32px 24px;
    width: 60%;
} 

.banner-text {
    align-items: center;
    
}

.banner-btn {
    border: 1px solid grey;
    background-color: grey;
    padding: 14px 50px;
}

.banner-btn a {
    color: white;
    text-decoration: none;
}